{
  "openapi": "3.0.3",
  "info": {
    "title": "Bleeprs API Specification 0.1",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.bleeprs.com/api"
    }
  ],
  "paths": {
    "/getSenderIds": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Sender ID",
        "description": "Sender ID",
        "operationId": "senderId",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": "0"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ddddd",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/sendMessage": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send Message",
        "description": "Send Message",
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "description": "A copy of this message can be sent to these email addresses. **(attarcts extra cost)**",
                    "items": {
                      "type": "string",
                      "example": "sam@bleeprs.com"
                    },
                    "example": [
                      "sam@bleeprs.com",
                      "john@bleeprs.com"
                    ]
                  },
                  "isBulk": {
                    "type": "boolean",
                    "description": "`Enable` or `Disable` if this meessage is bulk or not",
                    "example": false
                  },
                  "messageBody": {
                    "type": "string",
                    "description": "Message body with expected number of characters",
                    "example": "Hey there"
                  },
                  "phoneBookId": {
                    "type": "number",
                    "description": "Phonebook ID must be passed if `isBulk` is set to `true`",
                    "example": 4
                  },
                  "receiverNumber": {
                    "type": "string",
                    "description": "Target phone number for delivery",
                    "example": "15678909999"
                  },
                  "senderId": {
                    "type": "string",
                    "description": "Pre-approved sender id based on the region and route",
                    "example": "SUPERHUMAN"
                  },
                  "sendtoEmail": {
                    "type": "boolean",
                    "description": "If message should be sent to email or not",
                    "example": true
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email if `sendtoEmail` is set to `true`",
                    "example": "Thanks for Applying"
                  },
                  "template": {
                    "type": "object",
                    "description": "This section becomes effective if `templateInUse` is set to `true`",
                    "properties": {
                      "indexes": {
                        "type": "array",
                        "description": "The required parameters for encapsulating the template",
                        "items": {
                          "type": "string",
                          "example": "Samuel"
                        },
                        "example": [
                          "Benson",
                          "Germany"
                        ]
                      },
                      "templateId": {
                        "type": "string",
                        "description": "The template ID",
                        "example": "BLR_TID_IbZprJAfeSwsBdMJBfkv"
                      }
                    }
                  },
                  "templateInUse": {
                    "type": "boolean",
                    "description": "Used if the message should be sent using a template",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/sendEvidence": {
      "post": {
        "tags": [
          "Evidence"
        ],
        "summary": "Send Evidence",
        "description": "Send Evidence",
        "operationId": "sendEvidence",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "description": "A copy of this message can be sent to these email addresses",
                    "items": {
                      "type": "string",
                      "example": "sam@bleep,com"
                    },
                    "example": [
                      "sam@bleep,com"
                    ]
                  },
                  "numberOfDigits": {
                    "type": "number",
                    "description": "The number of digits to be sent as an OTP **[6 - 100]**",
                    "example": 8
                  },
                  "receiverNumber": {
                    "type": "string",
                    "description": "Target phone number for delivery",
                    "example": "2345678909999"
                  },
                  "seconds": {
                    "type": "number",
                    "description": "Duration before expiry in seconds",
                    "example": 1000
                  },
                  "senderId": {
                    "type": "string",
                    "description": "Pre-approved sender id based on the region and route",
                    "example": "SUPERMAN"
                  },
                  "sendtoEmail": {
                    "type": "boolean",
                    "description": "If message should be sent to email or not",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/confirmEvidence": {
      "post": {
        "tags": [
          "Evidence"
        ],
        "summary": "Confirm Evidence",
        "description": "Confirm Evidence",
        "operationId": "confirmEvidence",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "description": "The OTP sent to target phone number",
                    "example": "83419379"
                  },
                  "reference": {
                    "type": "string",
                    "description": "The reference number returned after the message was sent",
                    "example": "CkxhOql2g7AGzJhz3POZ"
                  }
                }
              },
              "examples": {
                "Confirm Evidence": {
                  "value": {
                    "otp": "83419379",
                    "reference": "CkxhOql2g7AGzJhz3POZ"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/MSQ/{reference}": {
      "get": {
        "tags": [
          "Insight"
        ],
        "summary": "MSQ",
        "description": "MSQ",
        "operationId": "msq",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Reference of message to search status",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/messageHistory": {
      "get": {
        "tags": [
          "Insight"
        ],
        "summary": "History",
        "description": "History",
        "operationId": "history",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/accountBalance": {
      "get": {
        "tags": [
          "Insight"
        ],
        "summary": "Account Balance",
        "description": "Account Balance",
        "operationId": "accountBalance",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/getPhonebook": {
      "get": {
        "tags": [
          "Phonebook"
        ],
        "summary": "Phonebook",
        "description": "Phonebook",
        "operationId": "phonebook",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/craetePhonebook": {
      "post": {
        "tags": [
          "Phonebook"
        ],
        "summary": "Create Phonebook",
        "description": "Create Phonebook",
        "operationId": "createPhonebook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Description of the phone book",
                    "example": "Nothing"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the phone book",
                    "example": "Sample Book 1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/createContact": {
      "post": {
        "tags": [
          "Phonebook"
        ],
        "summary": "Create Contacts",
        "description": "Create Contacts",
        "operationId": "createContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "",
                      "example": "Simpu"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "",
                      "example": "434576565446"
                    }
                  }
                }
              },
              "examples": {
                "Create Contacts": {
                  "value": [
                    {
                      "name": "Simpu",
                      "phoneNumber": "434576565446"
                    },
                    {
                      "name": "Dalu",
                      "phoneNumber": "435425324"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/getTemplates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Templates",
        "description": "Templates",
        "operationId": "templates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/createTemplates": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create Templates",
        "description": "Create Templates",
        "operationId": "createTemplates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The standard body with possible interpolated fields",
                    "example": "My name is {{1}} and i am from {{2}}"
                  },
                  "indexes": {
                    "type": "array",
                    "description": "The integers in a format of a string in **{{1}}** from body",
                    "items": {
                      "type": "string",
                      "description": "",
                      "example": "1"
                    },
                    "example": [
                      "1",
                      "2"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "description": "Template name",
                    "example": "Welcome Message"
                  },
                  "slug": {
                    "type": "string",
                    "description": "Template slug",
                    "example": "WLG"
                  },
                  "useCase": {
                    "type": "string",
                    "description": "Template Use cases seprated by comma",
                    "example": "business"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/purchaseAirtime": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Purchase Airtime",
        "description": "Purchase airtime for a phone number",
        "operationId": "purchaseAirtime",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "description": "Amount of airtime to purchase (in Naira)",
                      "example": 50
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Recipient's phone number (Nigerian format)",
                      "example": "08107176819"
                    },
                    "network": {
                      "type": "string",
                      "description": "Network provider",
                      "enum": [
                        "MTN",
                        "AIRTEL",
                        "GLOBACOM",
                        "9MOBILE"
                      ],
                      "example": "MTN"
                    },
                    "productCode": {
                      "type": "string",
                      "description": "Standard product code retrieved from the Airtime catalog",
                      "example": "LA_MTN_VTU",
                      "enum": [
                        "LA_MTN",
                        "LA_AIRTEL",
                        "LA_GLOBACOM",
                        "LA_9MOBILE",
                        "BP_MTN",
                        "BP_AIRTEL",
                        "BP_GLOBACOM",
                        "BP_9MOBILE"
                      ]
                    },
                    "voucherCode": {
                      "type": "string",
                      "description": "Provider-specific voucher SKU if applicable",
                      "example": ""
                    }
                  },
                  "required": [
                    "amount",
                    "phoneNumber",
                    "network",
                    "productCode"
                  ]
                },
                "minItems": 1,
                "default": [
                  {
                    "amount": 50,
                    "phoneNumber": "08107176819",
                    "network": "MTN",
                    "productCode": "LA_MTN"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Airtime purchase accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Sucessfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "JJqI1HCxemtGpMOWOESU"
                    },
                    "data": {
                      "type": "string",
                      "example": "Airtime purchased processing"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchaseData": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Purchase Data",
        "description": "Purchase data bundle for a phone number",
        "operationId": "purchaseData",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "phoneNumber": {
                      "type": "string",
                      "description": "Recipient's phone number (Nigerian format)",
                      "example": "08107176819"
                    },
                    "productCode": {
                      "type": "string",
                      "description": "Product code for the data plan",
                      "example": "LV_MTN_XTRADATA_3DAYS_200_200"
                    },
                    "network": {
                      "type": "string",
                      "description": "Target network operator",
                      "example": "MTN"
                    },
                    "voucherCode": {
                      "type": "string",
                      "description": "Catalog-provided voucher code identifier",
                      "example": "LV_MTN_1.5GB"
                    },
                    "amount": {
                      "type": "number",
                      "description": "Cost of the data bundle as mapped in the system",
                      "example": 1000.0
                    }
                  },
                  "required": [
                    "phoneNumber",
                    "productCode",
                    "voucherCode",
                    "network"
                  ]
                },
                "minItems": 1,
                "default": [
                  {
                    "phoneNumber": "08107176819",
                    "productCode": "LV_MTN_1000_34",
                    "voucherCode": "LV_MTN",
                    "network": "LV_MTN"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Data purchase accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Sucessfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "KpEAFZutv3SvQ4aMjrv7"
                    },
                    "data": {
                      "type": "string",
                      "example": "Data purchased processing"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/statistics": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "View Statistics",
        "description": "Get vending statistics and account information",
        "operationId": "statistics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "ESzHw13F3Xa93uizdop6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_balance": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "example": "N7450.00"
                            },
                            "available_for": {
                              "type": "string",
                              "example": "vending"
                            },
                            "currency": {
                              "type": "string",
                              "example": "NGN"
                            },
                            "last_updated": {
                              "type": "string",
                              "example": "9/18/2025, 8:22:50 AM"
                            }
                          }
                        },
                        "period": {
                          "type": "object",
                          "properties": {
                            "current_week_start": {
                              "type": "string",
                              "example": "2025-09-11"
                            },
                            "current_week_end": {
                              "type": "string",
                              "example": "2025-09-18"
                            },
                            "previous_week_start": {
                              "type": "string",
                              "example": "2025-09-04"
                            },
                            "previous_week_end": {
                              "type": "string",
                              "example": "2025-09-11"
                            }
                          }
                        },
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "successful": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "example": 7
                                },
                                "rate": {
                                  "type": "string",
                                  "example": "0.0% success rate from last week"
                                },
                                "is_positive": {
                                  "type": "boolean",
                                  "example": true
                                }
                              }
                            },
                            "failed": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "example": 17
                                },
                                "rate": {
                                  "type": "string",
                                  "example": "70.8% failure rate from last week"
                                },
                                "is_positive": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          }
                        },
                        "total_amount": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "example": "N3850.00"
                            },
                            "change": {
                              "type": "string",
                              "example": "0.0% change from last week"
                            },
                            "is_positive": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        },
                        "total_transactions": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "example": 24
                            },
                            "change": {
                              "type": "string",
                              "example": "0.0% of total from last week"
                            },
                            "is_positive": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logEntries": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "Vending Logs",
        "description": "View transaction logs and history",
        "operationId": "logEntries",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 0
            },
            "description": "Page number for pagination"
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 1
            },
            "description": "Number of records per page"
          },
          {
            "name": "startdate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-09-17"
            },
            "description": "Start date for filtering (YYYY-MM-DD)"
          },
          {
            "name": "enddate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-09-17"
            },
            "description": "End date for filtering (YYYY-MM-DD)"
          },
          {
            "name": "download",
            "in": "query",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "description": "Whether to include download-ready format"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failed"
              ],
              "example": "success"
            },
            "description": "Transaction status filter"
          },
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "MTN",
                "GLO",
                "AIRTEL",
                "9MOBILE",
                "all"
              ],
              "example": "mtn"
            },
            "description": "Network filter"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "08107176819"
            },
            "description": "Search by phone number or transaction ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transaction logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Sucessfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "iip9r710KslnmtdAgb1w"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "TotalPages": {
                          "type": "number",
                          "example": 1
                        },
                        "CurrentPage": {
                          "type": "number",
                          "example": 1
                        },
                        "TotalRecords": {
                          "type": "number",
                          "example": 7
                        },
                        "NextPage": {
                          "type": "string",
                          "example": ""
                        },
                        "PreviousPage": {
                          "type": "string",
                          "example": ""
                        },
                        "Items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "transaction_id": {
                                "type": "string"
                              },
                              "partner_reference": {
                                "type": "string"
                              },
                              "phone_number": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "string"
                              },
                              "transaction_cost": {
                                "type": "number"
                              },
                              "commission": {
                                "type": "number"
                              },
                              "balance_after": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "network": {
                                "type": "string"
                              },
                              "operator": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "data_plan": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "time": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validateMeter": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Validate Electricity Meter",
        "description": "Verify electricity meter ownership before purchase",
        "operationId": "validateMeter",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meter": {
                    "type": "string",
                    "description": "The electricity meter number to validate",
                    "example": "12345678910"
                  },
                  "disco": {
                    "type": "string",
                    "description": "The Distribution Company (DisCo) slug",
                    "example": "ikeja-electric"
                  }
                },
                "required": [
                  "meter",
                  "disco"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully Processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "JOHN DOE"
                        },
                        "address": {
                          "type": "string",
                          "example": "123 TEST STREET, IKEJA"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchaseElectricity": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Purchase Electricity",
        "description": "Purchase electricity token for a meter",
        "operationId": "purchaseElectricity",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount of electricity to purchase (in Naira)",
                    "example": 1500.0
                  },
                  "meter": {
                    "type": "string",
                    "description": "The validated electricity meter number",
                    "example": "12345678910"
                  },
                  "phone": {
                    "type": "string",
                    "description": "The customer phone number",
                    "example": "08000000000"
                  },
                  "disco": {
                    "type": "string",
                    "description": "The Distribution Company (DisCo) slug",
                    "example": "ikeja-electric"
                  }
                },
                "required": [
                  "amount",
                  "meter",
                  "phone",
                  "disco"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully Processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "SUCCESS"
                        },
                        "token": {
                          "type": "string",
                          "example": "1234 5678 9101 1121 3141"
                        },
                        "units": {
                          "type": "string",
                          "example": "24.5 kWh"
                        },
                        "reference": {
                          "type": "string",
                          "example": "b8c3a1b2-1024-4f5c-89de-d93a7c6b98e1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validateSmartcard": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Validate Cable TV",
        "description": "Verify cable TV smartcard ownership",
        "operationId": "validateSmartcard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "smartcard": {
                    "type": "string",
                    "description": "The customer Cable TV smartcard or IUC number",
                    "example": "8093245829"
                  },
                  "provider": {
                    "type": "string",
                    "description": "The Cable TV provider (e.g. DSTV, GOTV, STARTIMES)",
                    "example": "DSTV"
                  }
                },
                "required": [
                  "smartcard",
                  "provider"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully Processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "JANE DOE"
                        },
                        "customerNumber": {
                          "type": "string",
                          "example": "123456789"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchaseCableTV": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Purchase Cable TV",
        "description": "Purchase a subscription for Cable TV",
        "operationId": "purchaseCableTV",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount of the subscription package to purchase",
                    "example": 15700.0
                  },
                  "smartcard": {
                    "type": "string",
                    "description": "The validated customer smartcard or IUC number",
                    "example": "8093245829"
                  },
                  "phone": {
                    "type": "string",
                    "description": "The customer phone number",
                    "example": "08000000000"
                  },
                  "provider": {
                    "type": "string",
                    "description": "The Cable TV provider",
                    "example": "DSTV"
                  },
                  "bouquetCode": {
                    "type": "string",
                    "description": "The specific package or bouquet code",
                    "example": "db4"
                  }
                },
                "required": [
                  "amount",
                  "smartcard",
                  "phone",
                  "provider",
                  "bouquetCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully Processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "SUCCESS"
                        },
                        "reference": {
                          "type": "string",
                          "example": "b8c3a1b2-1024-4f5c-89de-d93a7c6b98e1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ElectricityList": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "List Electricity Providers",
        "description": "Retrieve the list of supported Electricity Distribution Companies (Discos).",
        "operationId": "electricityList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved electricity providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "productCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CableTVList": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "List Cable TV Bouquets",
        "description": "Retrieve the catalog of bouquets/plans for Cable TV providers. You can optionally filter by provider.",
        "operationId": "cableTVList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": false,
            "description": "Filter results by provider (e.g. DSTV, GOTV, STARTIMES)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved cable tv bouquets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "network": {
                            "type": "string"
                          },
                          "productCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AirtimeList": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "List Airtime Networks",
        "description": "Get all available airtime networks and their details",
        "operationId": "airtimeList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved airtime networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "MA1EF7AxNWuLz2Y0Jzfw"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "number"
                          },
                          "Network": {
                            "type": "string"
                          },
                          "Operator": {
                            "type": "string"
                          },
                          "Region": {
                            "type": "string"
                          },
                          "MinAmount": {
                            "type": "number"
                          },
                          "MaxAmount": {
                            "type": "number"
                          },
                          "Percentage": {
                            "type": "number"
                          },
                          "NetworkLogo": {
                            "type": "string"
                          },
                          "VoucherCode": {
                            "type": "string"
                          },
                          "CreatedAt": {
                            "type": "string"
                          },
                          "UpdatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DataList": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "List Data Plans",
        "description": "Get available data plans for a specific network",
        "operationId": "dataList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GLOBACOM",
                "AIRTEL",
                "MTN",
                "9MOBILE"
              ]
            },
            "description": "Network provider to get data plans for"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved data plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "oodwwrNrMbP9grMPFKVW"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "number"
                          },
                          "Network": {
                            "type": "string"
                          },
                          "Operator": {
                            "type": "string"
                          },
                          "ProductCode": {
                            "type": "string"
                          },
                          "ProductGroup": {
                            "type": "string"
                          },
                          "NetworkLogo": {
                            "type": "string"
                          },
                          "VoucherCode": {
                            "type": "string"
                          },
                          "Description": {
                            "type": "string"
                          },
                          "DataValue": {
                            "type": "number"
                          },
                          "CreatedAt": {
                            "type": "string"
                          },
                          "UpdatedAt": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}