{
  "openapi": "3.0.3",
  "info": {
    "title": "Bleeprs API Specification 0.1",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.bleeprs.com/api"
    }
  ],
  "paths": {
    "/getSenderIds": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Sender ID",
        "description": "Sender ID",
        "operationId": "senderId",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": "0"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "integer",
              "example": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ddddd",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/sendMessage": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send Message",
        "description": "Send Message",
        "operationId": "sendMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "description": "A copy of this message can be sent to these email addresses. **(attarcts extra cost)**",
                    "items": {
                      "type": "string",
                      "example": "sam@bleeprs.com"
                    },
                    "example": [
                      "sam@bleeprs.com",
                      "john@bleeprs.com"
                    ]
                  },
                  "isBulk": {
                    "type": "boolean",
                    "description": "`Enable` or `Disable` if this meessage is bulk or not",
                    "example": false
                  },
                  "messageBody": {
                    "type": "string",
                    "description": "Message body with expected number of characters",
                    "example": "Hey there"
                  },
                  "phoneBookId": {
                    "type": "number",
                    "description": "Phonebook ID must be passed if `isBulk` is set to `true`",
                    "example": 4
                  },
                  "receiverNumber": {
                    "type": "string",
                    "description": "Target phone number for delivery",
                    "example": "15678909999"
                  },
                  "senderId": {
                    "type": "string",
                    "description": "Pre-approved sender id based on the region and route",
                    "example": "SUPERHUMAN"
                  },
                  "sendtoEmail": {
                    "type": "boolean",
                    "description": "If message should be sent to email or not",
                    "example": true
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the email if `sendtoEmail` is set to `true`",
                    "example": "Thanks for Applying"
                  },
                  "template": {
                    "type": "object",
                    "description": "This section becomes effective if `templateInUse` is set to `true`",
                    "properties": {
                      "indexes": {
                        "type": "array",
                        "description": "The required parameters for encapsulating the template",
                        "items": {
                          "type": "string",
                          "example": "Samuel"
                        },
                        "example": [
                          "Benson",
                          "Germany"
                        ]
                      },
                      "templateId": {
                        "type": "string",
                        "description": "The template ID",
                        "example": "BLR_TID_IbZprJAfeSwsBdMJBfkv"
                      }
                    }
                  },
                  "templateInUse": {
                    "type": "boolean",
                    "description": "Used if the message should be sent using a template",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/sendEvidence": {
      "post": {
        "tags": [
          "Evidence"
        ],
        "summary": "Send Evidence",
        "description": "Send Evidence",
        "operationId": "sendEvidence",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emails": {
                    "type": "array",
                    "description": "A copy of this message can be sent to these email addresses",
                    "items": {
                      "type": "string",
                      "example": "sam@bleep,com"
                    },
                    "example": [
                      "sam@bleep,com"
                    ]
                  },
                  "numberOfDigits": {
                    "type": "number",
                    "description": "The number of digits to be sent as an OTP **[6 - 100]**",
                    "example": 8
                  },
                  "receiverNumber": {
                    "type": "string",
                    "description": "Target phone number for delivery",
                    "example": "2345678909999"
                  },
                  "seconds": {
                    "type": "number",
                    "description": "Duration before expiry in seconds",
                    "example": 1000
                  },
                  "senderId": {
                    "type": "string",
                    "description": "Pre-approved sender id based on the region and route",
                    "example": "SUPERMAN"
                  },
                  "sendtoEmail": {
                    "type": "boolean",
                    "description": "If message should be sent to email or not",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/confirmEvidence": {
      "post": {
        "tags": [
          "Evidence"
        ],
        "summary": "Confirm Evidence",
        "description": "Confirm Evidence",
        "operationId": "confirmEvidence",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string",
                    "description": "The OTP sent to target phone number",
                    "example": "83419379"
                  },
                  "reference": {
                    "type": "string",
                    "description": "The reference number returned after the message was sent",
                    "example": "CkxhOql2g7AGzJhz3POZ"
                  }
                }
              },
              "examples": {
                "Confirm Evidence": {
                  "value": {
                    "otp": "83419379",
                    "reference": "CkxhOql2g7AGzJhz3POZ"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/MSQ/{reference}": {
      "get": {
        "tags": [
          "Insight"
        ],
        "summary": "MSQ",
        "description": "MSQ",
        "operationId": "msq",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "Reference of message to search status",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/messageHistory": {
      "get": {
        "tags": [
          "Insight"
        ],
        "summary": "History",
        "description": "History",
        "operationId": "history",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/accountBalance": {
      "get": {
        "tags": [
          "Insight"
        ],
        "summary": "Account Balance",
        "description": "Retrieve the balance of every account attached to your organisation.",
        "operationId": "accountBalance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "AccountName": {
                          "type": "string",
                          "example": "Acme Ltd"
                        },
                        "GlobalBalance": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Balance": {
                                "type": "number",
                                "example": 7450.00
                              },
                              "Currency": {
                                "type": "string",
                                "example": "NGN"
                              },
                              "AccountNumber": {
                                "type": "string",
                                "example": "ACC_0001"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPhonebook": {
      "get": {
        "tags": [
          "Phonebook"
        ],
        "summary": "Phonebook",
        "description": "Phonebook",
        "operationId": "phonebook",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/craetePhonebook": {
      "post": {
        "tags": [
          "Phonebook"
        ],
        "summary": "Create Phonebook",
        "description": "Create Phonebook",
        "operationId": "createPhonebook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Description of the phone book",
                    "example": "Nothing"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the phone book",
                    "example": "Sample Book 1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/createContact": {
      "post": {
        "tags": [
          "Phonebook"
        ],
        "summary": "Create Contacts",
        "description": "Create Contacts",
        "operationId": "createContacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "",
                      "example": "Simpu"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "",
                      "example": "434576565446"
                    }
                  }
                }
              },
              "examples": {
                "Create Contacts": {
                  "value": [
                    {
                      "name": "Simpu",
                      "phoneNumber": "434576565446"
                    },
                    {
                      "name": "Dalu",
                      "phoneNumber": "435425324"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/getTemplates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "Templates",
        "description": "Templates",
        "operationId": "templates",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/createTemplates": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create Templates",
        "description": "Create Templates",
        "operationId": "createTemplates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "The standard body with possible interpolated fields",
                    "example": "My name is {{1}} and i am from {{2}}"
                  },
                  "indexes": {
                    "type": "array",
                    "description": "The integers in a format of a string in **{{1}}** from body",
                    "items": {
                      "type": "string",
                      "description": "",
                      "example": "1"
                    },
                    "example": [
                      "1",
                      "2"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "description": "Template name",
                    "example": "Welcome Message"
                  },
                  "slug": {
                    "type": "string",
                    "description": "Template slug",
                    "example": "WLG"
                  },
                  "useCase": {
                    "type": "string",
                    "description": "Template Use cases seprated by comma",
                    "example": "business"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/purchaseAirtime": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Purchase Airtime",
        "description": "Purchase airtime for one or more Nigerian phone numbers. Use product details returned by the airtime catalog.",
        "operationId": "purchaseAirtime",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "description": "Amount of airtime to purchase (in Naira)",
                      "example": 50
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Recipient's phone number (Nigerian format)",
                      "example": "08107176819"
                    },
                    "network": {
                      "type": "string",
                      "description": "Network provider",
                      "enum": [
                        "MTN",
                        "AIRTEL",
                        "GLOBACOM",
                        "9MOBILE"
                      ],
                      "example": "MTN"
                    },
                    "productCode": {
                      "type": "string",
                      "description": "Product code returned by the Airtime catalog",
                      "example": "MTN_AIRTIME_PRODUCT_CODE"
                    },
                    "voucherCode": {
                      "type": "string",
                      "description": "Voucher code returned by the Airtime catalog, when provided",
                      "example": ""
                    },
                    "operator": {
                      "type": "string",
                      "description": "Operator value returned by the Airtime catalog",
                      "example": "MTN"
                    },
                    "region": {
                      "type": "string",
                      "description": "Region value returned by the Airtime catalog",
                      "example": "NG"
                    }
                  },
                  "required": [
                    "amount",
                    "phoneNumber",
                    "network",
                    "productCode"
                  ]
                },
                "minItems": 1,
                "default": [
                  {
                    "amount": 1000,
                    "phoneNumber": "08107176819",
                    "network": "MTN",
                    "productCode": "MTN_AIRTIME_PRODUCT_CODE"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted for processing. Airtime is credited within a few seconds; use each reference in data.references to track individual items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "JJqI1HCxemtGpMOWOESU"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Vending Request Sent"
                        },
                        "references": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "bpr_req_a1b2c3d4e5f6"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. Common causes: invalid payload, empty body, unrecognised network, or amount outside the airtime catalog range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Amount out of range for MTN"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Your organisation is not yet configured for vending, or an individual item in the batch could not be posted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Vending account not configured"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Another purchase for the same phone number and amount is already in progress. Retry after a short delay or with a different amount.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Transaction in progress for this number and amount. Please wait."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Airtime vending is temporarily unavailable across all providers. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Airtime vending is temporarily unavailable across all servers. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchaseData": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Purchase Data",
        "description": "Purchase a data bundle for one or more Nigerian phone numbers. Submit the selected plan details as returned by the data catalog.",
        "operationId": "purchaseData",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "phoneNumber": {
                      "type": "string",
                      "description": "Recipient's phone number (Nigerian format)",
                      "example": "08107176819"
                    },
                    "productCode": {
                      "type": "string",
                      "description": "Product code returned by the Data catalog",
                      "example": "MTN_DATA_PRODUCT_CODE"
                    },
                    "network": {
                      "type": "string",
                      "description": "Target network returned by the Data catalog",
                      "example": "MTN"
                    },
                    "voucherCode": {
                      "type": "string",
                      "description": "Voucher code returned by the Data catalog",
                      "example": "MTN_DATA_VOUCHER_CODE"
                    },
                    "amount": {
                      "type": "number",
                      "description": "Amount returned by the Data catalog",
                      "example": 1000
                    },
                    "dataValue": {
                      "type": "number",
                      "description": "Data value returned by the Data catalog, when provided",
                      "example": 1024
                    }
                  },
                  "required": [
                    "phoneNumber",
                    "productCode",
                    "voucherCode",
                    "network"
                  ]
                },
                "minItems": 1,
                "default": [
                  {
                    "phoneNumber": "08107176819",
                    "productCode": "MTN_DATA_PRODUCT_CODE",
                    "voucherCode": "MTN_DATA_VOUCHER_CODE",
                    "network": "MTN",
                    "amount": 1000
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted for processing. Data is credited within a few seconds; use each reference in data.references to track individual items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "KpEAFZutv3SvQ4aMjrv7"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Vending Request successful"
                        },
                        "references": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "bpr_req_a1b2c3d4e5f6"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. Common causes: invalid payload, empty body, or the supplied productCode was not found in the data catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Data bundle for MTN_DATA_PRODUCT_CODE not found"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Your organisation is not yet configured for vending, or an individual item in the batch could not be posted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Vending account not configured"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Data vending is temporarily unavailable. Retry after a short delay. If you specified a voucherCode tied to a specific server, try again without one so the other server can be used.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Data vending is temporarily unavailable across all servers. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/statistics": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "View Statistics",
        "description": "Get vending statistics and account information",
        "operationId": "statistics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "ESzHw13F3Xa93uizdop6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account_balance": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "string",
                              "example": "₦7450.00"
                            },
                            "available_for": {
                              "type": "string",
                              "example": "vending"
                            },
                            "currency": {
                              "type": "string",
                              "example": "NGN"
                            },
                            "last_updated": {
                              "type": "string",
                              "example": "9/18/2025, 8:22:50 AM"
                            }
                          }
                        },
                        "period": {
                          "type": "object",
                          "properties": {
                            "current_week_start": {
                              "type": "string",
                              "example": "2025-09-11"
                            },
                            "current_week_end": {
                              "type": "string",
                              "example": "2025-09-18"
                            },
                            "previous_week_start": {
                              "type": "string",
                              "example": "2025-09-04"
                            },
                            "previous_week_end": {
                              "type": "string",
                              "example": "2025-09-11"
                            }
                          }
                        },
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "successful": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "example": 7
                                },
                                "rate": {
                                  "type": "string",
                                  "example": "0.0% success rate from last week"
                                },
                                "is_positive": {
                                  "type": "boolean",
                                  "example": true
                                }
                              }
                            },
                            "failed": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "example": 17
                                },
                                "rate": {
                                  "type": "string",
                                  "example": "70.8% failure rate from last week"
                                },
                                "is_positive": {
                                  "type": "boolean",
                                  "example": false
                                }
                              }
                            }
                          }
                        },
                        "total_amount": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "example": "₦3850.00"
                            },
                            "change": {
                              "type": "string",
                              "example": "0.0% change from last week"
                            },
                            "is_positive": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        },
                        "total_transactions": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "number",
                              "example": 24
                            },
                            "change": {
                              "type": "string",
                              "example": "0.0% of total from last week"
                            },
                            "is_positive": {
                              "type": "boolean",
                              "example": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logEntries": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "Vending Logs",
        "description": "View vending transaction logs across airtime, data, electricity, and cable TV.",
        "operationId": "logEntries",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 0
            },
            "description": "Page number for pagination"
          },
          {
            "name": "perPage",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 1
            },
            "description": "Number of records per page"
          },
          {
            "name": "startdate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-09-17"
            },
            "description": "Start date for filtering (YYYY-MM-DD)"
          },
          {
            "name": "enddate",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-09-17"
            },
            "description": "End date for filtering (YYYY-MM-DD)"
          },
          {
            "name": "download",
            "in": "query",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "description": "Whether to include download-ready format"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "failed",
                "pending",
                "all"
              ],
              "example": "success"
            },
            "description": "Transaction status filter"
          },
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "MTN",
                "GLO",
                "AIRTEL",
                "9MOBILE",
                "all"
              ],
              "example": "mtn"
            },
            "description": "Network filter"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "08107176819"
            },
            "description": "Search by phone number or transaction ID"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "airtime",
                "data",
                "electricity",
                "cable",
                "all"
              ],
              "example": "electricity"
            },
            "description": "Transaction type filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transaction logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Sucessfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "iip9r710KslnmtdAgb1w"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "TotalPages": {
                          "type": "number",
                          "example": 1
                        },
                        "CurrentPage": {
                          "type": "number",
                          "example": 1
                        },
                        "TotalRecords": {
                          "type": "number",
                          "example": 7
                        },
                        "NextPage": {
                          "type": "string",
                          "example": ""
                        },
                        "PreviousPage": {
                          "type": "string",
                          "example": ""
                        },
                        "Items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "transaction_id": {
                                "type": "string"
                              },
                              "partner_reference": {
                                "type": "string"
                              },
                              "phone_number": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "string"
                              },
                              "transaction_cost": {
                                "type": "number"
                              },
                              "commission": {
                                "type": "number"
                              },
                              "balance_after": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "network": {
                                "type": "string"
                              },
                              "operator": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "data_plan": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "time": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validateMeter": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Validate Electricity Meter",
        "description": "Verify an electricity meter before purchase and return customer details needed for confirmation.",
        "operationId": "validateMeter",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "meter": {
                    "type": "string",
                    "description": "The electricity meter number to validate",
                    "example": "12345678910"
                  },
                  "disco": {
                    "type": "string",
                    "description": "Electricity provider productCode returned by the ElectricityList endpoint",
                    "example": "IKEJA_ELECTRIC"
                  },
                  "vendType": {
                    "type": "string",
                    "description": "Meter type",
                    "enum": [
                      "PREPAID",
                      "POSTPAID"
                    ],
                    "example": "PREPAID"
                  }
                },
                "required": [
                  "meter",
                  "disco",
                  "vendType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully Processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "JOHN DOE"
                        },
                        "address": {
                          "type": "string",
                          "example": "123 TEST STREET, IKEJA"
                        },
                        "minAmount": {
                          "type": "number",
                          "example": 1000
                        },
                        "outstanding": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchaseElectricity": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Purchase Electricity",
        "description": "Purchase electricity for a validated meter. Successful prepaid purchases return token details.",
        "operationId": "purchaseElectricity",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount of electricity to purchase (in Naira)",
                    "example": 1500
                  },
                  "meter": {
                    "type": "string",
                    "description": "The validated electricity meter number",
                    "example": "12345678910"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Customer phone number for the transaction",
                    "example": "08000000000"
                  },
                  "disco": {
                    "type": "string",
                    "description": "Electricity provider productCode returned by the ElectricityList endpoint",
                    "example": "IKEJA_ELECTRIC"
                  },
                  "vendType": {
                    "type": "string",
                    "description": "Meter type",
                    "enum": [
                      "PREPAID",
                      "POSTPAID"
                    ],
                    "example": "PREPAID"
                  }
                },
                "required": [
                  "amount",
                  "meter",
                  "phone",
                  "disco",
                  "vendType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully Processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "1234 5678 9101 1121 3141"
                        },
                        "units": {
                          "type": "number",
                          "example": 24.5
                        },
                        "receiptNo": {
                          "type": "string",
                          "example": "RCPT123456789"
                        },
                        "commission": {
                          "type": "number",
                          "example": 25
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Transaction Pending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "01"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Transaction Pending"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true,
                      "description": "No additional data is returned while the transaction is pending."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. Common causes: invalid payload, insufficient balance, or the purchase was declined by the provider. If the wallet was debited, it is automatically refunded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "No active NGN vending account found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Another purchase for the same meter and amount is already in progress. Retry after a short delay or with a different amount.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Transaction in progress for this meter and amount. Please wait."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/validateSmartcard": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Validate Cable TV",
        "description": "Verify a cable TV smartcard before purchase and return customer details needed for confirmation.",
        "operationId": "validateSmartcard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "smartcard": {
                    "type": "string",
                    "description": "The customer Cable TV smartcard or IUC number",
                    "example": "8093245829"
                  },
                  "provider": {
                    "type": "string",
                    "description": "The Cable TV provider (e.g. DSTV, GOTV, STARTIMES)",
                    "example": "DSTV"
                  }
                },
                "required": [
                  "smartcard",
                  "provider"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully Processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "JANE DOE"
                        },
                        "address": {
                          "type": "string",
                          "example": "123 TEST STREET, IKEJA"
                        },
                        "customerType": {
                          "type": "string",
                          "example": "RESIDENTIAL"
                        },
                        "outstanding": {
                          "type": "number",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchaseCableTV": {
      "post": {
        "tags": [
          "Vending"
        ],
        "summary": "Purchase Cable TV",
        "description": "Purchase a cable TV subscription for a validated smartcard.",
        "operationId": "purchaseCableTV",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Package amount returned by the CableTVList endpoint",
                    "example": 15700
                  },
                  "smartcard": {
                    "type": "string",
                    "description": "The validated customer smartcard or IUC number",
                    "example": "8093245829"
                  },
                  "phone": {
                    "type": "string",
                    "description": "The customer phone number",
                    "example": "08000000000"
                  },
                  "provider": {
                    "type": "string",
                    "description": "The Cable TV provider",
                    "example": "DSTV"
                  },
                  "bouquetCode": {
                    "type": "string",
                    "description": "Product code returned by the CableTVList endpoint",
                    "example": "DSTV_PACKAGE_CODE"
                  }
                },
                "required": [
                  "amount",
                  "smartcard",
                  "phone",
                  "provider",
                  "bouquetCode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully Processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "smartcard": {
                          "type": "string",
                          "example": "8093245829"
                        },
                        "provider": {
                          "type": "string",
                          "example": "DSTV"
                        },
                        "bouquet": {
                          "type": "string",
                          "example": "DSTV Compact"
                        },
                        "amount": {
                          "type": "number",
                          "example": 15700
                        },
                        "commission": {
                          "type": "number",
                          "example": 150
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Transaction Pending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "01"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Transaction Pending"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "nullable": true,
                      "description": "No additional data is returned while the transaction is pending."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request could not be processed. Common causes: invalid payload, insufficient balance, or the purchase was declined by the provider. If the wallet was debited, it is automatically refunded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "No active NGN vending account found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ElectricityList": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "List Electricity Providers",
        "description": "Retrieve the list of supported Electricity Distribution Companies (Discos).",
        "operationId": "electricityList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved electricity providers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "productCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "minAmount": {
                            "type": "number",
                            "description": "Minimum purchase amount"
                          },
                          "maxAmount": {
                            "type": "number",
                            "description": "Maximum purchase amount"
                          },
                          "percentage": {
                            "type": "number",
                            "description": "Customer commission rate, when available"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CableTVList": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "List Cable TV Bouquets",
        "description": "Retrieve the catalog of bouquets/plans for Cable TV providers. You can optionally filter by provider.",
        "operationId": "cableTVList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": false,
            "description": "Filter results by provider (e.g. DSTV, GOTV, STARTIMES)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved cable tv bouquets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "network": {
                            "type": "string"
                          },
                          "productCode": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "percentage": {
                            "type": "number",
                            "description": "Customer commission rate, when available"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AirtimeList": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "List Airtime Networks",
        "description": "Get all available airtime networks and their details",
        "operationId": "airtimeList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved airtime networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "MA1EF7AxNWuLz2Y0Jzfw"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "example": 1
                          },
                          "network": {
                            "type": "string",
                            "example": "MTN"
                          },
                          "operator": {
                            "type": "string",
                            "description": "Pass this value as operator when purchasing airtime.",
                            "example": "MTN"
                          },
                          "region": {
                            "type": "string",
                            "description": "Region for the plan (e.g. NG). Empty for plans without a region.",
                            "example": "NG"
                          },
                          "productCode": {
                            "type": "string",
                            "description": "Product code to submit as productCode when purchasing airtime.",
                            "example": "MTN_AIRTIME_PRODUCT_CODE"
                          },
                          "productGroup": {
                            "type": "string",
                            "description": "Group the product belongs to. Empty when not applicable.",
                            "example": ""
                          },
                          "voucherCode": {
                            "type": "string",
                            "description": "Voucher code to include as voucherCode when provided by the catalog.",
                            "example": ""
                          },
                          "minAmount": {
                            "type": "number",
                            "description": "Minimum allowed airtime amount for this network, in Naira.",
                            "example": 100
                          },
                          "maxAmount": {
                            "type": "number",
                            "description": "Maximum allowed airtime amount for this network, in Naira.",
                            "example": 50000
                          },
                          "networkLogo": {
                            "type": "string",
                            "description": "URL of the network logo, suitable for display in a UI.",
                            "example": "https://cdn.bleeprs.com/logos/mtn.png"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DataList": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "List Data Plans",
        "description": "Retrieve available data plans. You can optionally filter by network.",
        "operationId": "dataList",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "GLOBACOM",
                "AIRTEL",
                "MTN",
                "9MOBILE"
              ]
            },
            "description": "Optional network provider filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved data plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "oodwwrNrMbP9grMPFKVW"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number",
                            "example": 12
                          },
                          "network": {
                            "type": "string",
                            "example": "MTN"
                          },
                          "operator": {
                            "type": "string",
                            "description": "Operator identifier for the plan, when available.",
                            "example": "MTN"
                          },
                          "productCode": {
                            "type": "string",
                            "description": "Product code to submit as productCode when purchasing data.",
                            "example": "MTN_DATA_PRODUCT_CODE"
                          },
                          "productGroup": {
                            "type": "string",
                            "description": "Group the product belongs to. Empty when not applicable.",
                            "example": "SME"
                          },
                          "voucherCode": {
                            "type": "string",
                            "description": "Voucher code to submit as voucherCode when purchasing data.",
                            "example": "MTN_DATA_VOUCHER_CODE"
                          },
                          "description": {
                            "type": "string",
                            "description": "Customer-readable description of the bundle and validity.",
                            "example": "1GB — 30 days"
                          },
                          "amount": {
                            "type": "number",
                            "description": "Amount charged in Naira.",
                            "example": 1000
                          },
                          "dataValue": {
                            "type": "number",
                            "description": "Data value returned for the plan, when available.",
                            "example": 1024
                          },
                          "networkLogo": {
                            "type": "string",
                            "description": "URL of the network logo, suitable for display in a UI.",
                            "example": "https://cdn.bleeprs.com/logos/mtn.png"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/requeryTransaction/{orderId}": {
      "get": {
        "tags": [
          "Vending"
        ],
        "summary": "Requery Transaction",
        "description": "Confirm the final status of a pending airtime, data, electricity, or cable TV purchase.",
        "operationId": "requeryVendingTransaction",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The `requestReference` returned by the original purchase response. The value you type here is preserved across the playground — paste your real reference to test against a live transaction.",
            "schema": {
              "type": "string"
            },
            "example": "your-request-reference-here"
          }
        ],
        "responses": {
          "200": {
            "description": "Requery completed. Use `data.status` to determine the final outcome.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "00"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Successfully Processed"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "SUCCESS",
                            "FAILED",
                            "PENDING"
                          ],
                          "example": "SUCCESS"
                        },
                        "reference": {
                          "type": "string",
                          "example": "bpr_req_a1b2c3d4e5f6"
                        },
                        "token": {
                          "type": "string",
                          "description": "Returned for successful electricity purchases when available",
                          "example": "1234 5678 9101 1121 3141"
                        },
                        "units": {
                          "type": "number",
                          "description": "Returned for successful electricity purchases when available",
                          "example": 24.5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No transaction was found for the supplied orderId. Double-check the requestReference from the original purchase response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Transaction not found"
                    }
                  }
                }
              }
            }
          },
          "425": {
            "description": "Requery is only available at least 2 minutes and 1 second after the original purchase.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Please wait at least 2 minutes and 1 second after the transaction before attempting a requery."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "The maximum number of requery attempts for this transaction has been reached. Contact support to have the status resolved manually.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Max requery attempts reached. Please contact support for manual verification."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The provider could not be reached to confirm the status. Retry after a short delay.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gatewayStatus": {
                      "type": "string",
                      "example": "88"
                    },
                    "gatewayMessage": {
                      "type": "string",
                      "example": "Unsucessfull"
                    },
                    "requestReference": {
                      "type": "string",
                      "example": "bpr_req_a1b2c3d4e5f6"
                    },
                    "data": {
                      "type": "string",
                      "example": "Unable to verify transaction status with the provider at this time. Please try again later."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
